#wrap {
    background-color: #eeeeee;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    #add-event-form-container {
        height: 100% !important;
        overflow: visible !important;
    }
}

.add-event-form-external-description {
    display: none;
    font-size: 10px;
    background-color: #add8e6;
    padding: 10px 10px 10px 10px;

    position: absolute;
    right: -300px;
    width: 300px;
    z-index 10;
}

.add-event-nav-bar-container {
    width: 100%;
    background-color: white;
    position: fixed;
    display: block;
    z-index: 10 !important;

}
@media (max-width: 500px){
    .add-event-nav-bar-container {
        display: none;
    }
}

.add-event-nav-bar {
    padding: 20px 10px 10px 10px;
}
.add-event-nav-bar a {
    position: relative;
    text-align: center;
    width: 20%;
    float: left;
}