
#datetimepicker {
    position: relative;
}
.bootstrap-datetimepicker-widget {
    color: black !important;
    border-bottom: 0px solid transparent !important;
    border-top: 6px solid white;
    top: auto !important;
    bottom: 0px;
}

#add-event-form-container {
    overflow-y: scroll !important;
    height: 40em !important;
    margin-bottom: 0px !important;
}
@media screen and (max-width: 1000px) {
    #add-event-form-container {
        height: 100% !important;
        overflow: visible !important;
    }
}