html,
body {
    height: 100%;
    background-color: white !important;
    color: black !important;
}

@font-face {
    font-family: "Levenim";
    src:    url('fonts/levenim.ttf') format('truetype');
}


.panel-body {
    padding: 0px 0px 0px 0px;
    height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#manage-events a {
    color: orange !important;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#hackaglobal-nav-bar, .dropdown-menu {
    font-family: 'Open Sans';
    font-weight:300;
    font-size:18px;
    line-height:1.8em;
    color:#404040;
    margin:0;
    padding:0;
}

#nav-bar-logo {
    width: 65px;
    margin-top: -18px;
}

.nav-bar-hackaglobal-text {
    font-family: levenim;
    color: black !important;
    font-size: 35px;
    margin-top: 7px;
    padding: 0px 30px 0px 0px;
}
.icon-calendar {
    color: black;
}
#nav-bar-hackaglobal-text-input {
    margin: 0px 0px 0px 0px;
    height: 45px;
    resize: horizontal;
    /*width: 125px;*/
}

#content {
    padding-top: 50px;
}
#content a {
    color: #87ceeb;
}
#content a:hover {
    color: #add8e6;
}

#footer {
    height: 60px;
}

.page-header {
    font-size: 5em;
}


.event-container {
    padding: 20px 0px 20px 20px;

    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
.event-container:hover {
    background: rgba(0, 0, 0, .7);
    color: white !important;
}


#home-tabbed-content button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
}

#nav-find-event-search-btn {
    position: absolute;
    top: 0px;
    right: -5px;
    width: 70px;
}

#nav-search-form {
    position: relative;
    width: 400px;
    margin-right: 10px;
}

#nav-find-event-search {
    width: 300px;
    height: 40px;
    margin-bottom: -10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.staff-container {
    padding: 5px 10px 5px 10px;
    margin: 15px 0px 15px 0px;
    text-align: center;
    height: 180px;
    position: relative;
}

.profilepicture img {
    width: 200px;
}
