html,
body {
    height: 100%;
    background-color: white !important;
    color: black !important;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#nav-bar-logo {
    width: 350px;
    margin-top: -23px;
}

#content {
    padding-top: 60px;
}
#content a {
    color: #87ceeb;
}
#content a:hover {
    color: #add8e6;
}

#footer {
    height: 60px;
}

.page-header {
    font-size: 5em;
}


.event-container {
    padding: 20px 0px 20px 20px;

    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
.event-container:hover {
    background: rgba(0, 0, 0, .7);
    color: white !important;
}


#home-tabbed-content button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
}

#nav-find-event-search-btn {
    position: absolute;
    top: 0px;
    right: -5px;
    width: 70px;
}

#nav-search-form {
    position: relative;
    width: 400px;
    margin-right: 10px;
}

#nav-find-event-search {
    width: 300px;
    height: 40px;
    margin-bottom: -10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.staff-container {
    padding: 5px 10px 5px 10px;
    margin: 15px 0px 15px 0px;
    text-align: center;
    height: 180px;
    position: relative;
}
