.form-background {
    height:100%;
    width:100%;
    overflow:hidden;
    background-color: #eeeeee;
}

.form-container {
    /*height: 40em !important;*/

    background-color: transparent;

    padding-top: 50px;
    margin-bottom: 0px !important;

    /*overflow-y: scroll !important;*/
    /*overflow-x: hidden;*/
}
.form-title {
    font-size: 30px;
    padding-left: 15px;
    padding-bottom: 10px;
}
.form-group {
    background-color: white;

    padding: 10px 30px 30px 30px;
    margin-bottom: 30px;
}
.glyphicon-question-sign {
    position: relative;
}
.glyphicon-question-sign:hover > .add-event-form-external-description {
    display: block;
}

.internal-form-group-separator {
    width: 100%;
    height: 20px;
    clear: both;
}