{% extends "base.html" %}

{% block head-includes %}
<link rel="stylesheet" type="text/css" href="/static/css/hackacity_view.css">
    <script type="text/javascript" src="/static/js/hackacity_view.js"></script>
{% endblock %}

{% block content %}
<style>
    .hackacity-view-home{ background: url({{ hackacity.get_image_home }}) 50% 0 no-repeat fixed; background-size: cover; }
    .hackacity-view-about{ background: url({{ hackacity.get_image_about }}) 50% 0 no-repeat fixed; background-size: cover; }
    .hackacity-view-divider-1{ background: url({{ hackacity.get_image_divider_1 }}) 50% 0 no-repeat fixed; background-size: cover; }
    .hackacity-view-divider-2{ background: url({{ hackacity.get_image_divider_2 }}) 50% 0 no-repeat fixed; background-size: cover; }
    .hackacity-view-divider-3{ background: url({{ hackacity.get_image_divider_3 }}) 50% 0 no-repeat fixed; background-size: cover; }
    .hackacity-view-divider-4{ background: url({{ hackacity.get_image_divider_4 }}) 50% 0 no-repeat fixed; background-size: cover; }
</style>
<div id="home">
    <section class="hackacity-view-home hackacity-section">
        <div class="hackacity-view-home-gradient">

            <img class="hackacity-view-home-hackalogo" src="{{ hackacity.image_logo.url }}">

            <h1 class="hackacity-view-home-text">
                {{ hackacity.short_description }}
            </h1>
        </div>
    </section>
    <section id="about" class="hackacity-view-about hackacity-section">
        <div class="hackacity-view-title">{ About }</div>
        <div class="hackacity-view-about-text col-md-offset-1 col-md-5">
            {% autoescape off %} {{ hackacity.about }} {% endautoescape %}
        </div>
        <div class="col-md-6">
            <iframe class="hackacity-view-about-video" width="560" height="315" src="//www.youtube.com/embed/z0J_AQXZcG4" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>
    <section class="hackacity-view-divider hackacity-view-divider-1">

    </section>
    <section id="events" class="hackacity-view-events hackacity-section">
        <div class="hackacity-view-title" style="color: black">
            { Events }
        </div>
        <div class="col-md-12" style="margin-top: -40px">
            <div class="carousel slide" id="myCarousel">
                <div class="carousel-inner">
                    {% for event in hackacity.event_set.all %}
                        <div class="item {% if forloop.first %}active{% endif %}">
                            <div class="col-xs-6">
                                {% include 'layouts/hackacity_event.html' %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
    </section>
    <section class="hackacity-view-divider hackacity-view-divider-2">

    </section>
    <section id="communities" class="hackacity-view-communities hackacity-section" style="background: url(/static/img/hackacommunities.png) 50% 0 no-repeat fixed; background-size: cover">

    </section>
    <section class="hackacity-view-divider-3" style="position: relative; height:480px; padding: 50px 50px 50px 50px; overflow: hidden">
        <div class="well col-md-offset-1 col-md-10" style="height:380px; padding: 50px 50px 50px 50px; overflow: scroll">
            <script async src="https://d36hc0p18k1aoc.cloudfront.net/public/js/modules/tintembed.js"></script>
            <div class="tintup" data-id="axsaucedo-1397315333" data-columns="4" data-expand="true" style="height:380px;width:100%; margin: auto auto; overflow: hidden;">
                <a href="http://www.tintup.com" style="width:118px;height:31px;background-image:url(//d33w9bm0n1egwm.cloudfront.net/assets/logos/poweredbytintsmall.png);position:absolute;bottom:10px;right: 20px;text-indent: -9999px;z-index:9;">hashtag campaign</a>
            </div>
        </div>
    </section>
    <section id="sponsors" class="hackacity-view-sponsors hackacity-section" style="background: url(/static/img/sponsors.png) 50% 0 no-repeat fixed;">

    </section>
    <section class="hackacity-view-divider hackacity-view-divider-4">

    </section>
    <section id="partners" class="hackacity-view-partners hackacity-section" style="background: url(/static/img/partners.png) 50% 0 no-repeat fixed;">

    </section>
    <section id="team" class="hackacity-view-team" style="overflow-y: hidden; position: relative; background-color: white;">
        <div class="content">
            <div class="wrapper">
                <div class="block" id="theteam">
                    <div class="hackacity-view-title" style="color: black; width: 100%; text-align: center">
                        { Team }
                    </div>
                    <div class="wrapper">
                        <ul class="people">
                            {% include 'layouts/team_member.html' with team_member=hackacity.lead.profile lead=True  %}
                            {% for u in hackacity.team.all %}
                                {% if u != hackacity.lead  %}
                                    {% include 'layouts/team_member.html' with team_member=u.profile lead=False  %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hackacity-view-contact hackacity-view-divider" style="position: relative; background: url(/static/img/contact.png); background-position: fixed; width: 100%; ">
        <div class="hackacity-view-title" style="padding-top: 140px">
            { Contact }
        </div>
        <a href="mailito:{{ hackacity.name }}@gmail.com"><h1 style="color: orange">{{ hackacity.name }}@gmail.com</h1></a>
    </section>
</div>
{% endblock %}