{% extends "base.html" %}

{% block head-includes %}
    <script type="text/javascript" src="/static/js/external/jquery-forms.js"></script>
    <script type="text/javascript" src="/static/js/hackacity_edit.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/hackacity_edit.css">
{% endblock %}

{% block content %}
    <div id="edit-hackacity-info"   data-hackacity="{{ hackacity.name }}"
                                    data-remove_container_url="{% url 'hackaglobal.ajax.remove_container' %}"
                                    data-add_team_url="{% url 'hackaglobal.ajax.add_team' %}"
                                    data-remove_team_url="{% url 'hackaglobal.ajax.remove_team' %}"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="add-event-form-container" class="well">
                    <form id="add-event-form" class="form-horizontal" method="POST" enctype="multipart/form-data"  data-ajax="false">
                        {% csrf_token %}
                        <fieldset style="border: none;">
                            <legend>Edit {{ hackacity.name }}</legend>
                            {% if form.errors %}
                                <div class="alert alert-dismissable alert-danger">
                                    {{ form.errors }}
                                </div>
                            {% endif %}
{#                            <div class="form-group">#}
{#                                <label for="add-event-form-name" class="col-md-3 control-label">HackaCity Name</label>#}
{#                                <div class="col-md-9">#}
{#                                    <input id="add-event-form-name" name="name" value="{{ event.name }}" class="form-control" type="text" {% if is_lead %}placeholder="Required" disabled{% endif %}>#}
{#                                </div>#}
{#                            </div>#}

                            <div class="form-group">
                                <label for="add-event-form-short-description" class="col-md-3 control-label">Description</label>
                                <div class="col-md-9" style="padding-bottom: 20px;">
                                    <input id="add-event-form-short-description" name="short_description" class="form-control" type="text" placeholder="Optional" value="{{ hackacity.short_description }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="add-event-form-about" class="col-md-3 control-label">About</label>
                                <div class="col-md-9" style="padding-bottom: 20px;">
                                    <textarea id="add-event-form-about" name="about" class="form-control" type="text" rows="6" placeholder="[HTML Tags are Allowed]">{{ hackacity.about }}</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <fieldset>
                                    <legend>Images for HackaSite:</legend>

                                    <div class="form-group">
                                        <label for="add-event-form-image-logo" class="col-md-3 control-label">Logo</label>
                                        <div class="col-md-9">
                                            <input id="add-event-form-image-logo" class="form-control" value="" name="image_logo" type="file">
                                            <a style="float: right;" href="" class="hacka-popover-text" rel="popover" data-html="true" data-content="<img src='{% if hackacity.image_logo %}{{ hackacity.image_logo.url }}{% endif %}'/>" data-title="Logo - Image Preview" data-trigger="hover">Preview</a>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="add-event-form-image-home" class="col-md-3 control-label">Home</label>
                                        <div class="col-md-9">
                                            <input id="add-event-form-image-home" class="form-control" name="image_home" type="file">
                                            <a style="float: right;" href="" class="hacka-popover-text" rel="popover" data-html="true" data-content="<img src='{{ hackacity.get_image_home }}'/>" data-title="About - Image Preview" data-trigger="hover">Preview</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="add-event-form-image-about" class="col-md-3 control-label">About</label>
                                        <div class="col-md-9">
                                            <input class="form-control" id="add-event-form-image-about" name="image_about" type="file">

                                            <a style="float: right;" href="" class="hacka-popover-text" rel="popover" data-html="true" data-content="<img src='{{ hackacity.get_image_about }}'/>" data-title="Home - Image Preview" data-trigger="hover">Preview</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="add-event-form-image-divider-1" class="col-md-3 control-label">Divider 1</label>
                                        <div class="col-md-9">
                                            <input id="add-event-form-image-divider-1" class="form-control" name="image_divider_1" type="file">
                                            <a style="float: right;" href="" class="hacka-popover-text" rel="popover" data-html="true" data-content="<img src='{{ hackacity.get_image_divider_1 }}'/>" data-title="Divider 1 - Image Preview" data-trigger="hover">Preview</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="add-event-form-image-divider-2" class="col-md-3 control-label">Divider 2</label>
                                        <div class="col-md-9">
                                            <input id="add-event-form-image-divider-2" class="form-control" value="{{ hackacity.image_placeholder_2 }}" name="image_divider_2" type="file">
                                            <a style="float: right;" href="" class="hacka-popover-text" rel="popover" data-html="true" data-content="<img src='{{ hackacity.get_image_divider_2 }}'/>" data-title="Divider 2 - Image Preview" data-trigger="hover">Preview</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="add-event-form-image-divider-3" class="col-md-3 control-label">Divider 3</label>
                                        <div class="col-md-9">
                                            <input id="add-event-form-image-divider-3" class="form-control" value="{{ hackacity.image_placeholder_3 }}" name="image_divider_3" type="file">
                                            <a style="float: right;" href="" class="hacka-popover-text" rel="popover" data-html="true" data-content="<img src='{{ hackacity.get_image_divider_3 }}'/>" data-title="Divider 3 - Image Preview" data-trigger="hover">Preview</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="add-event-form-image-divider-4" class="col-md-3 control-label">Divider 4</label>
                                        <div class="col-md-9">
                                            <input id="add-event-form-image-divider-4" class="form-control" value="{{ hackacity.image_placeholder_4 }}" name="image_divider_4" type="file">
                                            <a style="float: right;" href="" class="hacka-popover-text" rel="popover" data-html="true" data-content="<img src='{{ hackacity.get_image_divider_4 }}'/>" data-title="Divider 4 - Image Preview" data-trigger="hover">Preview</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button id="add-event-submit-btn" type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <style>
                    .row {
                        min-height: 100px;
                        padding-top: 30px;
                    }
                </style>
                <div class="col-md-offset-1">
                    <div class="row">
                        <h2>HackaLead</h2>
                        <div id="event-attendees-container">
                            <ul class="people">
                            {% include 'layouts/team_member_edit.html' with team_member=hackacity.lead.profile lead=True  %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <h2>HackaTeam</h2>
                        <div>
                            <ul class="people team-container">
                            {% for u in hackacity.team.all %}
                                {% if u != hackacity.lead  %}
                                    {% include 'layouts/team_member_edit.html' with team_member=u.profile %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                            <div class="container col-md-12 add-team-form-container">
                                <input class="add-team-input-username col-md-3" type="text" name="username" placeholder="Username">
                                <button style="float: left;" type="submit" class="btn btn-info col-md-2 add-team-btn" data-staff_type="S">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h2>Members</h2>
                        <div id="event-trackers-container">
                            {% for member in hackacity.member.all %}
                                {% include 'layouts/generic_attendee.html' with attendee=member %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <h2>Sponsors</h2>
                        <ul id="edit-hackacity-sponsors" class="people">
                            {% for sponsor in hackacity.hackacontainer_set.all %}
                                <li data-container_id="{{ sponsor.id }}">
                                    <nav>
                                        <a href="#" class="remove-sponsor-button">X</a>
                                    </nav>
                                    <a href="{{ sponsor.url }}"><img class="picture" src="{{ sponsor.photo.url }}"/></a>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="container col-md-12">
                            <form id="add-sponsor-form" action="{% url 'hackaglobal.ajax.add_container' %}" enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                <input class="input-name col-md-3 hidden" type="text" name="hackacity" value="{{ hackacity.id }}">

                                <input class="input-name col-md-3" type="text" name="title" placeholder="Title">
                                <input class="input-url col-md-3" type="text" name="url" placeholder="URL">
                                <div class="col-md-3">
                                    <select class="form-control" name="type">
                                        <option value="G">Golden</option>
                                        <option value="S">Silver</option>
                                        <option value="B">Bronze</option>
                                    </select>
                                </div>
                                <input class="input-url col-md-3" type="text" name="description" placeholder="Short Description">
                                <input class="input-photo col-md-5" type="file" name="photo">

                                <button style="float: right;" type="submit" class="btn btn-info col-md-2 add-sponsor-btn">Add</button>
                            </form>
                        </div>
                    </div>
{#                    <div class="row">#}
{#                        <h4>Partners</h4>#}
{##}
{#                        <div class="container col-md-12">#}
{#                            <input class="input-name col-md-3" type="text" name="tags" placeholder="Name (Required)">#}
{#                            <input class="input-username col-md-3" type="text" name="tags" placeholder="Username">#}
{#                            <input class="input-imgurl col-md-2" type="text" name="tags" placeholder="img url">#}
{#                            <input class="input-url col-md-2" type="text" name="tags" placeholder="link">#}
{#                            <button style="float: right;" type="submit" class="btn btn-info col-md-2 add-staff-btn" data-staff_type="M">Add</button>#}
{#                        </div>#}
{##}
{#                        {% for staff in mentors %}#}
{#                            {% include 'layouts/generic_staff.html' with staff=staff edit=True %}#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <h4>Communities</h4>#}
{##}
{#                        <div class="container col-md-12">#}
{#                            <input class="input-name col-md-3" type="text" name="tags" placeholder="Name (Required)">#}
{#                            <input class="input-username col-md-3" type="text" name="tags" placeholder="Username">#}
{#                            <input class="input-imgurl col-md-2" type="text" name="tags" placeholder="img url">#}
{#                            <input class="input-url col-md-2" type="text" name="tags" placeholder="link">#}
{#                            <button style="float: right;" type="submit" class="btn btn-info col-md-2 add-staff-btn" data-staff_type="O">Add</button>#}
{#                        </div>#}
{##}
{#                        {% for staff in organizers %}#}
{#                            {% include 'layouts/generic_staff.html' with staff=staff edit=True %}#}
{#                        {% endfor %}#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}