<div data-staff_id="{{ staff.id }}" class="col-md-3 staff-container">
    <div style="margin: auto auto; margin-top: 10px; width:100px; height: 100px; overflow: hidden; border-radius: 50px; background-size: cover; background-image: url('{% if staff.imgurl %}{{ staff.imgurl }}{% else %}/static/images/man-placeholder.jpg{% endif %}')"/></div>
    <h4>{{ staff.name }}</h4>
    {% if staff.url %}
        <a href="{{ staff.url }}">
            url
        </a>
    {% endif %}
    {% if staff.staff %}
        <br>
        <a href="/accounts/view/{{ staff.staff.username }}/">
            Profile
        </a>
    {% endif %}
    {% if edit %}
        <a class="remove-staff-btn" href="#">x</a>
    {% endif %}
</div>