<li class="hackacity-view-events-list-item">
    <div style="color: black;" class="hackacity-event-container">
        <div class="hackacity-event-information-container col-sm-4">
            <div class="row">
                <a class="btn btn-success col-md-5" href="{% if event.external %}{{ event.website }}{% else %}/event/{{ event.id }}/{% endif %}">
                    View
                </a>
                {% if is_hackateam %}
                    <a class="btn btn-primary col-md-offset-2 col-md-5" href="/manage/{{ event.id }}/">
                        Edit
                    </a>
                {% endif %}
            </div>
            <div class="row">
                <div class="hackacity-event-title">
                    <a href="{{ event.website }}">
                        {{ event.name|truncatechars:40 }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="hackacity-event-datetime">
                    <div>
                        <b>Start: </b>{{ event.start }}
                    </div>
                    <div>
                        <b>End: </b>{{ event.end }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="hackacity-event-description">
                    {{ event.description|truncatechars:300 }}
                </div>
            </div>
            <div class="row" style="font-size: 13px; text-align: left;">
                <span class="col-md-offset-1 col-md-1"><img src="/static/images/white-maps-marker.png"></span>
                <span class="col-md-9">{% for address in event.get_address_array %}{{ address }}, {% endfor %}</span>
            </div>
            <div class="row" style="padding: 0px 50px 0px 50px">
                <h4 style="float: left">Tags:</h4>
                {{ event.get_tags }}
            </div>
        </div>
        <div class="col-sm-8 event-image-container">
            <div class="row hackaevent-hackacity-logo-container">
                <img class="img-responsive hackaevent-hackacity-logo" src="/media/{{ event.hackacity.image_logo }}">
            </div>
            <div style="height: 10%"></div>
            <div class="col-md-12 row hackaevent-photo-container">
                <img class="img-responsive col-md-12 hackaevent-photo" src="{{ event.get_photo }}">
            </div>
        </div>
    </div>
</li>