<a href="/hackacity/view/{{ hackacity.id }}">
<div style="color: black" class="event-container">
    <div class="row">
        <div style="color: orange" class="col-md-5">
            <strong>{{ hackacity.name|truncatechars:20 }}</strong>
        </div>
        <div class="col-md-7">
            <div class="col-md-offset-6 col-md-6">
                <a class="btn btn-success" style="color: white !important" href="/hackacity/view/{{ hackacity.id }}">View</a>
                <a class="btn btn-primary" style="color: white !important" href="/hackacity/edit/{{ hackacity.id }}">Edit</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ hackacity.about|truncatechars:70 }}
        </div>
        <div class="col-md-6">
            <br>
            {{ hackacity.city }}, {{ hackacity.city.country }}
        </div>
    </div>
</div>
</a>