<div class="row hackacontainer hackacontainer-{{ container_type }}">
    <div class="col-md-3 col-md-offset-1">
        <h1>
            {{ container_name }}
        </h1>
    </div>
    <div class="hackacontainer-container col-md-8">
        {% for hackacontainer in hackacontainers %}
            <span class="img-responsive-container {% if container_type == "S1" %}col-xs-12 col-sm-6{% elif container_type == "S2" %}col-xs-6 col-sm-4{% else %}col-xs-4 col-sm-3{% endif %}">
                <a href="{{ hackacontainer.url }}"><img class="img-responsive-hacka" src="{{ hackacontainer.photo.url }}"/></a>
            </span>
        {% endfor %}
    </div>
</div>