<li class="hackacity-view-events-list-item">
    <div style="color: black;" class="hackacity-event-container">
        <div class="hackacity-event-information-container col-sm-4">
            <div class="row">
                <button class="btn btn-success col-md-5">
                    Attend
                </button>
                <button class="btn btn-primary col-md-offset-2 col-md-5">
                    Edit
                </button>
            </div>
            <div class="row">
                <div class="hackacity-event-title">
                    <a href="{{ event.website }}">
                        {{ event.name|truncatechars:40 }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="hackacity-event-datetime">
                    <div>
                        <b>Start: </b>{{ event.start }}
                    </div>
                    <div>
                        <b>End: </b>{{ event.end }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="hackacity-event-description">
                    {{ event.description|truncatechars:300 }}
                </div>
            </div>
            <div class="row" style="font-size: 13px; text-align: left;">
                <span class="col-md-offset-1 col-md-1"><img src="http://wiki.alumni.net/wiki/images/c/cd/Wikimap-white-marker.png"></span>
                <span class="col-md-9">{% for address in event.get_address_array %}{{ address }}, {% endfor %}</span>
            </div>
            <div class="row" style="padding: 0px 50px 0px 50px">
                <h4 style="float: left">Tags:</h4>
                {{ event.get_tags }}
            </div>
        </div>
        <br><br>
        <div class="col-md-8">
            <div class="col-md-12">
                <img class="img-responsive col-md-12 hackaevent-photo" src="{{ event.get_photo }}">
            </div>
        </div>
    </div>
</li>