<div class="row hackacontainer hackacontainer-{{ container_type }}">
    <div class="col-md-3 col-md-offset-1">
        <h1>
            {{ container_name }}
        </h1>
    </div>
    <div class="hackacontainer-container col-md-8">
        {% for hackacontainer in hackacontainers %}
            <span class="img-responsive-container col-sm-{% if container_type == "S1" %}12{% elif container_type == "S2" %}6{% else %}4{% endif %}">
                <a href="{{ hackacontainer.url }}"><img class="img-responsive-hacka" src="{{ hackacontainer.photo.url }}"/></a>
            </span>
        {% endfor %}
    </div>
</div>