@charset "utf-8";

html, body { position:relative;}
html{background:#f7f7f7;}
body{background-color:#f0f0f0;}

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea,
p, blockquote, th, td {
	font-family: 'Open Sans', Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	font-weight:300;
	font-size:14px; 
	line-height:1.8em; 
	color:#404040;
	margin:0;
	padding:0;
	}

body, div, dl, dt, dd, ul, ol, li, p, th, td {font-weight:400;}
	
a{
	color:#64c832;
	text-decoration:none;
	}
a:hover{
	text-decoration:none;
	color:#9ae674;}

.clr {clear:both;height:0px;visibility:hidden;overflow:hidden;}
.menu_hidden {visibility:hidden; text-decoration:none;}
.disnon{ display:none;}
.nomb{ margin-bottom:0px !important;}
.text_green{ color:#64c832;}

strong{font-weight:bold;}

table th, table td {
	border-bottom: 1px #e6e6e6 solid;
	padding: 4px 0 4px 1.5em;
}
table th:first-child, table td:first-child {
	padding-left: 0;
}
table th {
	font-weight: bold;
}

.tm { font-size: 60%; vertical-align: super;}

@media screen and (min-width:641px) {
	
body{ min-width:960px;}

.sp{ display:none !important;}

h1 {
	font-size:30px;
	margin-bottom:15px;
	padding-left:10px;
	}

h2 {
	font-size:16px;
	position:relative;
	background:#e6e6e6;
	color:#404040;
	padding:18px 20px;
	line-height:1.25em;
	}
	h2 .btn{
		position:absolute;
		right:20px;
		top:18px;
		width:100px;
		}

h3 {
	font-size:18px;
	margin-bottom:5px;
	font-weight:bold;
	}
	h3 span.size_s{ font-size:12px; line-height:3em; font-weight:bold;}
h4 {}
h5 {}

dl dt{
	float:left;
	margin-bottom:20px;
	clear:both;
	}
dl dd{ margin-left:140px; margin-bottom:20px;}

.mb{ margin-bottom:40px !important;}

/*Country Selector
----------------------------------------------------------*/
.sbHolder{
	width: 155px;
	font-size: 12px;
	padding-left: 15px;
	height: 36px;
	line-height: 36px;
	margin: 0px 0px 15px;
}
	
.sbSelector{
	height: 36px;
	line-height: 36px;
}

.sbToggle{
	height: 36px;
	right: -12px;
	top: 9px;
	width: 30px;
}
	
/* btn
----------------------------------------------------------*/

a.pagetop,
a.btn_as,
a.btn_gp,
a.more{
	display:block;
	position:relative;
	}

a.btn_g{
	display:inline-block;
	padding:13px 33px;
	text-align:center;
	font-size:20px;
	color:#fff;
	background:#64c832;		
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	}
	a.btn_g img{
		vertical-align:middle;
		width:18px;
		height:auto;
		}
	a.btn_g:hover{ background-color:#9ae674;}

a.pagetop,
a.more{
	padding-right:15px;
	color:#404040;
	font-size:12px;
	margin-bottom:15px;
	}
a.pagetop:hover,
a.more:hover{color:#64c832;}

a.pagetop:before,
a.more:before{
	content:" ";
	position:absolute;
	display:block;
	z-index:10;
	}

	a.pagetop{float:right;}
	a.pagetop:before{
		background:url(../../../intl/common/img/bullet_top.png) no-repeat;
		width:7px;
		height:4px;
		top:12px;
		right:0;
		}
	a.more:before{
		background:url(../../../intl/common/img/bullet_right_g.png) no-repeat;
		width:5px;
		height:9px;
		top:9px;
		right:0;
		}
		h2 a.more{
			float:right;
			}
	/*safari用*/
	html:66irst-child a.pagetop:before{ top:10px;}
	html:66irst-child a.more:before{top:7px;}
		
a.blank{
	padding-right:15px;
	position:relative;
	background:url(../../../intl/common/img/arr.png) no-repeat;
	background-position:right center;
	}
	span.blank{
		padding-right:18px;
		position:relative;
		background:url(../../../intl/common/img/arr.png) no-repeat;
		background-position:right 3px;
		background-position-x:right;
		background-position-y:3px;
		}
			
a.btn_as{
	width:200px;
	height:59px;
	background:url(../img/appstore.png) no-repeat;
	background-size:contain;
	text-indent:-9999px;
	}
	
a.btn_gp{
	width:175px;
	height:61px;
	background:url(../img/googleplay.png) no-repeat;
	background-size:contain;
	text-indent:-9999px;
	}
	
a.pdf{
	background:url(../../../intl/common/img/pdf.png) no-repeat;
	padding-left:21px;
	}

/* common
----------------------------------------------------------*/

/* width:100% */
#header,
#footer{
	min-width: 960px;
	width:100%;
	}
	
/* width:960px */
#header > div,
#main,
#footer > div{
	position:relative;
	width:960px;
	margin:0 auto;
	}

#header{
	height:80px;
	background-color:#fff;
	margin-bottom:20px;
	}
	#header > div{}
	.logo,
	.gn{position:absolute;}
	.logo{top:10px; left:0;}
	.gn{top:26px; right:0;}
	
	.logo a,
	.gn a{display:block;}
	.logo a{
		width:133px;
		height:58px;
		background:url(../../../intl/common/img/logo.png) no-repeat;
		overflow:hidden;
		}
	.gn li{
		float:left;
		margin-left:30px;
		}
	.gn a{
		line-height:28px;
		font-size: 16px;
		color: #404040;
		font-weight:300;
		}
	#about .gn  a.about,
	#store .gn  a.store,
	#support .gn  a.support,
	#info .gn  a.info,
	.gn a:hover{ color:#64c832;}
	
	.gn li a.login{
		display:block;
		height: 28px;
		line-height:28px;
		padding:0 20px;
		text-align:center;
		background-color: #e5e5e5;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		font-size:15px;
		}
	.gn li a.login:hover{
		color:#fff;
		background-color:#64c832;
		}

#main{}
	.contents{}
	.box{
		padding:50px 70px;
		background:#fff;
		}
	.box+.box{border-top:1px solid #ccc;}
	.box p{ margin-bottom:5px;}
	p.lead{ margin:0 10px 30px;}
	
	.nobox{ padding:0 10px 15px;}
	.box+.nobox{ padding-top:15px;}
	
	.note{ font-size:60%;}
	
	.leftpane,
	.rightpane,
	.rightpane_02{ position:relative;}
	.leftpane{ width:410px; float:left;}
	.rightpane{ width:410px; float:right;}
	.rightpane_02{ width:480px; float:right;}
	
	.contents_2col{
		width:760px;
		float:left;
		}
	.contents_2col .box{
		padding:40px 50px;
		background:#fff;
		}
	.contents_2col .nobox{
		padding:40px 50px 30px;
		}
	.contents_2col .nobox+.nobox{ padding-top:0;}
	.side{
		width:170px;
		float:right;
		}
	.lnav li{ margin-bottom:20px;}
	.lnav a{
		display:block;
		color:#404040;
		width:170px;
		padding-right:10px;
		background-image:url(../../../intl/common/img/bullet_right_g.png);
		background-repeat:no-repeat;
		background-position:100% 46%;
		}
	.lnav .current a,
	.lnav a:hover{color:#64c832;}
	
	.have_caption{ margin-top:-25px;}
	.caption{
		font-size:12px;
		margin-bottom:5px;
		}
	.box .caption{ color:#808080;}

#contents_foot{margin-top:90px;}

#footer{
	height:60px;
	background:#f7f7f7;
	}
	#footer > div{}
	
	.global,
	.fnavi,
	.cr{position:absolute;}

	ul.global{
		position:relative;
		height:16px;
		width:90px;
		top:22px; left:0;
		}
		.global > li{ position:relative;}
		.global li a{
			display:block;
			width:90px;
			height:16px;
			line-height:16px;
			font-size:11px;
			color:#404040;
			position:relative;
			text-indent:25px;
			cursor:pointer;
			}
		a.global_main:before,
		a.global_main:after{
			content:" ";
			display:block;
			position:absolute;
			z-index:10;
			}
		a.global_main:before{
			width:16px;
			height:16px;
			top:0;
			left:0;
			background: url(../../../intl/common/img/globe.png) no-repeat;
			}	
		a.global_main:after{
			width:4px;
			height:7px;
			top:4px;
			left:65px;
			background: url(../../../intl/common/img/bullet_right.png) no-repeat;
			}	
		.global .global_sub {
			bottom: 16px;
			left: 0;
			position: absolute;
			text-align: center;
			list-style:none;
			padding-left:0;
			}
			.global .global_sub a{
				background:#f7f7f7;
				text-indent:0;
				height:32px;
				line-height:32px;
				}
			.global .global_sub a:hover{ color:#64c832;}
			.global .global_sub .margin{
				display:block;
				height:22px;
				background:#f7f7f7;
				}
		
	.fnavi{
		padding-left:20px;
		border-left:1px solid #c7c7c7;
		top:24px;
		left:90px;
		}
	.fnavi li{
		float:left;
		margin-right:20px;
		line-height:11px;
		}
	.fnavi a{
		display:block;
		font-size:11px;
		color:#404040;
		
		}
	.fnavi a:hover{ color:#64c832;}
	
	.cr{
		font-size:11px;
		color: #808080;
		top:21px;
		right:0;
		}
		
/* 言語切替
----------------------------------------------------------*/
		
.lang{ position:relative;}
#ID{
	position:absolute;
	top:62px;
	left:0;
	}
#ID a{
	display:block;
	background:#f7f7f7;
	color:#404040;
	width:155px;
	padding-left:15px;
	height:36px;
	line-height:36px;
	marginbottom:-20px;
	font-size:12px;
	}
#ID a:hover{
	color:#64c832;
	}

/* About
----------------------------------------------------------*/

#view360 {
	height: 248px;
	margin: auto;
}

#about h2 {
	font-size:35px;
	background:none;
	color:#404040;
	padding:0;
	line-height:1.5em;
	text-align:center;
	margin-bottom:50px;
	}
#about h3 {
	font-size:35px;
	line-height:1.25em;
	margin-bottom:20px;
	font-weight:300;
	}
#about h4 {
	font-size:18px;
	font-weight:bold;
	color:#64c832;
	margin-top:30px;
	}
#about p{ color:#808080;}
	
.about_img_01{
	position:absolute;
	top:0px;
	right:-480px;
	width:410px;
	height:688px;
	background:url(../../about/theta/img/about_img_02.png) no-repeat;
	}
	
#about .downloads{ margin-top: 20px;}
#about .downloads .btn_as,
#about .downloads .btn_gp{ display:inline-block; padding:0 10px;}
#about a + .notice{ margin-top:20px;}
#about .notice + .notice{ margin-top: 15px;}
#about .notice p{ margin-bottom:5px;}

.iphonebox1{ margin: 0 0 150px;}
.iphonebox2{ margin: 30px 0 150px;}
.iphonebox3{ margin:0 0 50px;}

.about_img_02,
.about_img_03,
.about_img_04{
	position:absolute;
	top:-75px;
	}
.about_img_02{
	right:-480px;
	}
.about_img_03{
	left:-480px;
	}
.about_img_04{
	top:20px;
	right:-440px;
	}
	
.about_img_05{
	position:absolute;
	top:0px;
	left:-410px;
	width:410px;
	height:530px;
	background:url(../../about/theta/img/about_img_06.png) no-repeat;
	}
	
.attachment {
	min-height: 238px;
}
	#about .attachment h3{ font-size:30px; padding-top:20px;}
	
	.attachment_img{
		position:absolute;
		left:-420px;
	}

.about_title_pc{ margin-top:20px;}
.in_set_margin{ margin-bottom:30px;}
	
.specs{}
.specs dl{
	border-top:1px #ccc solid;
	margin-top:10px;
	padding-top:10px;
	}
.specs dl:last-of-type{
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px #ccc solid;
	}
.specs dl:last-child{
    margin-bottom:0;
    }
.specs dt{ clear:both; margin-bottom:0;}
.specs dd{ margin-left:230px; margin-bottom:0;}

.about_buynow{ margin-top:30px;}

/* support
----------------------------------------------------------*/

.box_sp{
		padding:80px 92px 30px;
		background-color:#fff;
		}
	.support_link{
		width:170px;
		height:260px;
		margin-right:132px;
		margin-bottom:50px;
		text-align:center;
		float:left;
		}
	.support_link a{
		display:block;
		width:100%;
		}
	.support_link a:hover img{
		opacity: 0.70;
		filter: alpha(opacity=70);
		-moz-opacity: 0.70;
		-ms-filter: "alpha(opacity=70)";
		}
	.support_link img{ margin-bottom:5px;}
	.support_03,.support_06{ margin-right:0px;}
	
/* faq
----------------------------------------------------------*/

.faq_top{ background:#fff;}
.faq_top > li{border-top:1px solid #ccc;}
.faq_top >li.last_child{border-bottom:1px solid #ccc;}
.faq_top >li span{
	font-size:16px;
	position:relative;
	color:#404040;
	padding:18px 0;
	text-indent:20px;
	line-height:1.25em;
	display:inline-block;
	width:100%;
	}
	.faq_top >li span:hover{ color:#64c832; background-color:#f7f7f7}
	.faq_top > li span:before{
		content:" ";
		display:block;
		position:absolute;
		top:24px;
		right:25px;
		width:15px;
		height:9px;
		background: url(../../../intl/common/img/global_open_normal_sp.png) no-repeat;
		background-size:contain;
		}
.faq_top li ul{
	border-top:1px solid #ccc;
	padding:50px 70px;
	}
.faq_top li ul li{ margin-bottom:18px; line-height:1.5em;}
.faq_top li ul li.last_child{ margin-bottom:0;}

.faq_list{}
.faq_list li{ margin-bottom:18px; line-height:1.5em;}
.faq_list li.last_child{ margin-bottom:0;}

.faq_entry ul > li { list-style-type: disc; margin-left: 1.5em; }
.faq_entry ol > li { list-style-type: decimal; margin-left: 1.5em; }


/* ce_docs
----------------------------------------------------------*/
	
.ce_docs_list{}
	.ce_docs_list h3{
		margin:0px;
		padding:0px;
		height:20px;
		line-height:20px;
		}
	.ce_docs_list dl{
		border-bottom:1px solid #ccc;
		}
	.ce_docs_list dt,
	.ce_docs_list dd{
		padding:0px;
		line-height:14px;
		margin-bottom:15px;
		}	
	.ce_docs_list dd{ margin-left:320px;}	
	
/* download
----------------------------------------------------------*/

.download_area{ margin-bottom:40px;}
	.download_area .btn_g{width:200px;}
	.download_area dd{ 
		margin-left:220px;
		line-height:50px;
		color:#808080;
		}
		
.ex{ margin-bottom:20px;}
	
/* info
----------------------------------------------------------*/

.info_vi{ margin-bottom:70px;}


/* 404
----------------------------------------------------------*/
#e404 .contents{
	text-align:center;
	margin:262px 0 281px;
	}


/* Legal
----------------------------------------------------------*/
.decimal li{
  list-style-type: decimal;
  margin-left: 1.5em;
}
.paren_decimal, .angle_decimal {
	counter-reset: cnt;
}
.paren_decimal > li, .angle_decimal > li {
  list-style-type: none;
  counter-increment: cnt;
  margin-left: 1.5em;
}
.paren_decimal > li:before {
  content: "(" counter(cnt) ") ";
}
.angle_decimal > li:before {
  content: "<" counter(cnt) "> ";
}


/* enのみに適応されるcssは、以下に記述
----------------------------------------------------------*/

#about .attachment h3{ font-size:30px; padding-top:10px;}

/* google
----------------------------------------------------------*/

#google h2,
	#google h3{
		font-size:35px;
		font-weight:bold;
		margin-bottom:15px;
		color:#64c832;
		}
	#google h2{
		text-align:center;
		background:none;
		padding:0;
		margin:0 0 40px;
		}
	#google p{ font-size:16px;}
	.google_mv{
		background-color:#fff;
		text-align:center;
		}
	.google_mv img{
		display:inline-block;
		margin:0 auto;
		}
	#google .google_mv p{
		font-size:40px;
		line-height:1.25em;
		}
	#google  .borderline{
		margin-top:50px;
		width:100%;
		height:1px;
		border-top:1px solid #ccc;
		}
	#google  p.annotation{
		font-size:12px;
		}
	#google p + p{ margin-top:30px;}
	#google p.annotation + p.annotation{ margin-top:0px;}
	
	#google p.credit { font-size: small; text-align: right; margin: 0 auto;}
	#google .google_mv .credit { width: 630px;}
	#google .diagram .credit { width: 861px;}
	#google .google_about .credit { width: 330px;}
	#google .google_about .constellations.credit { width: 950px;}
	#google .cr { font-size:11px;}
	
	.diagram{
		background:#fff;
		margin-bottom:20px;
		padding-bottom:50px;
		}
	.diagram > div{
		text-align:center;
		width:100%;
		}
	
	.google_about .imgpane{
		text-align:center;
		background:#fff;
		}
	.google_about .textpane{
		padding-top:20px;
		margin-bottom:20px;
		}
	
	#google .mb{ margin-bottom:20px !important;}

}