
#googleMap{
	position: fixed !important;
    position: absolute;
	width: 100%;
	height:100%;
    z-index: 0;
}


body {
	font-family: 'Open Sans';
	font-weight:300;
	font-size:18px;
	line-height:1.8em;
	color:#404040;
	margin:0;
	padding:0;
	}
h1{ font-size:38px; text-align:center; line-height:1.4em;}
h2{ font-size:25px; line-height:1.25em;}

.wrapper {
    width:80%;
    min-width: 800px;
    margin:0 auto;
    position:relative;
    margin-top: 440px;
}

/*             LOGO             */
/*             LOGO             */
/*             LOGO             */
/*             LOGO             */
#logo-image {
    width: 90%;
    display:block;
    margin:auto;
}


/*             ABOUT             */
/*             ABOUT             */
/*             ABOUT             */
/*             ABOUT             */
#about-image {
    margin-top: 50px;
}


#now-section {
    background-color: white;
    margin: auto auto;
    width: 80%;
    position: relative;

    margin-bottom: 100px;
    padding-top: 60px;
    padding-bottom: 50px;

    border-radius: 30px;
    border: solid;
    border-width: 10px;
}
#skyline-image, #now-image {
    display:block;
    margin:auto;
}
#now-image {
    width: 90%;
}
#skyline-image {
    width: 98%;
    left: 1%;
    top: -65px;
    background: transparent;
    position: absolute;
}
.home-date-now-title {
    margin-top: 30px;
}
.home-date-now-hackacities-container {
    height: 350px;
    width: 80%;
    margin: auto auto;
    margin-top: 40px;
    font-size: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
.home-date-now-hackacities-container li {
    color: black;
    border-top: black solid;
    padding-top: 10px;
    height: 80px;
    width: 100%;
}
.home-date-now-hackacities-container li:hover {
    color: white;
    background-color: black;
}

.flashing-text {
    font-size: 70px;
    margin-bottom: 50px;
    -webkit-animation: flashing-text-animation 5s ease infinite;
    -webkit-text-stroke: 2px #fff;
}

@media (min-width: 1100px) {
    .flashing-text {
        font-size: 90px;
    }
}

@-webkit-keyframes flashing-text-animation {
   0% {
       color: black;
       -webkit-text-stroke: 2px #fff;
   }
   50% {
       color: white;
       -webkit-text-stroke: 2px #000;
   }

    100% {
        color: black;
        -webkit-text-stroke: 2px #fff;
    }
}

#footer {
    width:100%;
    min-width: 800px;

    position: relative;

    background-color: white;

}
#grass-image {
    width: 100%;

    top: -20px;
    left: 0px;

    background: transparent;
    position: absolute;
}
.footer-content {
    padding-top: 100px;
    background: white;
}
#hg_contact {
    width: 100%;
    position: relative;
}





#about{ margin-bottom:0px; padding-top: 50px}
	.aboutimg{ z-index:10;}
	.aboutimg img{
		width:310px;
		position:absolute;
		z-index:10;
		}
	#about h2{
		color:#222D3F;
		font-weight:400;
		margin-bottom:10px;
		}


	.aboutbox01,
	.aboutbox02,
	.aboutbox03,
	.aboutbox04{
		min-height:250px;
		width:100%;
		position:relative;
		}

	.abouttext{ width:58%; margin-top:35px; z-index:20;}
	.aboutbox01 .abouttext{ float:right; margin-top:70px;}
	.aboutbox03 .abouttext{ float:right; margin-top:70px;}
	.aboutbox02 .abouttext{ float:left; margin-top:92px;}
	.aboutbox04 .abouttext{ float:left; margin-top:105px;}

	.flyout01{ top:20px; left:-50px; max-width:245px;}
	.flyout02{ top:20px; right:-50px; max-width:245px;}
	.flyout03{ top:37px; left:-50px; max-width:245px;}
	.flyout04{ top:80px; right:-50px; max-width:245px;}
	.credit{ font-size:small; position: absolute; right: -50px; top:242px;}

	.note{ font-size:60%;}

