.hackacity-section {
    background-color: white;
    position: relative;
    overflow-x: hidden;
    text-align: center;
    background-size: contain;
    font-family: "Open sans";
    overflow: hidden;
    clear: both;
}
.hackacity-view-title {
    font-family: "Levenim";
    font-size: 80px;
    color: white;
    padding: 70px 0px 50px 0px;
}
.hackacity-view-divider {
    width: 100%;
    height: 400px;
    background-color: white;
    position: relative;
    text-align: center;
}

/* HOME *//* HOME *//* HOME *//* HOME */
/* HOME *//* HOME *//* HOME *//* HOME */
/* HOME *//* HOME *//* HOME *//* HOME */
.hackacity-view-home {
    overflow:hidden;
}
.hackacity-view-home-gradient {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top: 18%;
    color: white;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 1.0));

    padding-top: 120px;
}
.hackacity-view-home-hackalogo {
    min-width: 400px;
    width: 60%;
    left: 0;
    right: 0;
    bottom: 60%;
    margin: 0 auto;
}
.hackacity-view-home-text {
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 70%;

    padding-top: 30px;
    padding-bottom: 50px;
}


/* About *//* About *//* About *//* About */
/* About *//* About *//* About *//* About */
/* About *//* About *//* About *//* About */
.hackacity-view-about {
    padding-bottom: 50px;;
}

.hackacity-view-about-video {

}
.hackacity-view-about-text {
    color: white;
    font-size: 15px;
    position: relative;

    border-radius: 15px;
    padding: 30px 30px 30px 30px;
    background-color: rgba(0,0,0,.5);
}









/*hackacontainer*//*hackacontainer*//*hackacontainer*/
/*hackacontainer*//*hackacontainer*//*hackacontainer*/
/*hackacontainer*//*hackacontainer*//*hackacontainer*/
.hackacontainer-S1 h1 { background-color: rgba( 225, 215 , 0 ,.5); }
.hackacontainer-S2 h1 { background-color: rgba(192 , 192 , 192,.5); }
.hackacontainer-S3 h1 { background-color: rgba(140 , 120 , 83,.5); }
.hackacontainer {
    padding: 20px 0px 20px 0px;

}
.img-responsive-container a {
    height: 200px;
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.img-responsive-hacka {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}




/*Team*//*Team*//*Team*//*Team*/
/*Team*//*Team*//*Team*//*Team*/
/*Team*//*Team*//*Team*//*Team*/

.content{
    position:relative;
}
.content .block{
    width:100%;
    position:relative;
    padding:50px 0;
}
.content .block.dark{
    background-color:#1c1c1c;
    box-shadow:0 -1px 0px rgba(0,0,0,0.5) inset;
    color:#e9e9e9;
}
.content h1{
    padding:0;
    margin:0;
    line-height:40px;
    font-size:28px;
    font-weight:bold;
    text-align:center;
    color:#25272e;
}
.content .dark h1{
    color:#f7f7f7;
}

.people-wrapper{
    width:85%;
    padding:0 20px;
    margin:0 auto;
    position:relative;
}
.content ul.people{
    padding:0;
    margin:0;
    list-style-type:none;
    position:relative;
}
.content ul.people > li{
    padding:0;
    margin:0;
    display:block;
    float:left;
    text-align:center;
    position:relative;
}
.content ul.people > li h2{
    padding:0 0 5px 0;
    margin:0;
    line-height:25px;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    color:#25272E;
    transition: all 0.25s ease-in 0s;
}
.content ul.people > li:hover h2{
    color:#326AB5;
}
.content ul.people h3{
    padding:0 0 25px 0;
    margin:0;
    line-height:20px;
    font-size:15px;
    font-weight:bold;
    text-align:center;
    color:#a0a0a0;
}
.content ul.people .picture{
    overflow:hidden;
    border-radius:110px;
    padding:5px;
    background:#1c1c1c;
    margin:25px 0 5px 23%;
    left:0%;
    width:50%;
    height:170px;
    width:170px;
    transition: all 0.25s ease-in 0s;
    z-index:5;
    position:relative;
}
.content ul.people > li:hover .picture{
    background:#416596;
    left:-23%;
}
.content ul.people .picture img{
    width:100%;
    height:160px;
    width:160px;
    display:block;
    border-radius:100px;
}
.content ul.people nav{
    position:absolute;
    right:25%;
    top:25px;
    width:50%;
    height:147px;
    padding:15px 0;
    margin:0;
    list-style-type:none;
    z-index:1;
    opacity:0;
    transition: all 0.25s ease-in 0s;
    background:#f5f5f5;
    border-radius:110px;
    overflow:hidden;
}
.content ul.people > li:hover nav{
    opacity:1;
    right:0%;
    width:100%;
}
.content ul.people nav a{
    text-align:left;
    width:50%;
    display:block;
    color:#292929;
    font-size:13px;
    font-weight:bold;
    line-height:20px;
    transition: color 0.25s ease-in 0s;
}
.content ul.people nav a:hover{
    color:#326AB5;
}
.content ul.people nav a:nth-child(1){padding:0 0 0 52%;}
.content ul.people nav a:nth-child(2){padding:0 0 0 55%;}
.content ul.people nav a:nth-child(3){padding:0 0 0 57%;}
.content ul.people nav a:nth-child(4){padding:0 0 0 58%;}
.content ul.people nav a:nth-child(5){padding:0 0 0 57%;}
.content ul.people nav a:nth-child(6){padding:0 0 0 56%;}
.content ul.people nav a:nth-child(7){padding:0 0 0 54%;}