{% extends "base.html" %}

{% block head-includes %}
    <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="http://api.mygeoposition.com/api/geopicker/api.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/add_event.js"></script>
    <script type="text/javascript" src="/static/js/external/tagit-themeroller.js"></script>
    <script type="text/javascript" src="/static/js/external/jquery.themeswitcher.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/external/tagit.css">
    <link rel="stylesheet" type="text/css" href="/static/css/add_event.css">
    <link rel="stylesheet" type="text/css" href="/static/css/external/Bootstrap.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h1 class="page-header">Create an event</h1>
            </div>
            <h1>You can create your event now!</h1>
        </div>
        <div class="col-md-6">
            <div id="add-event-form-container" class="well">
                <form id="add-event-form" class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <fieldset style="border: none;">
                        <legend>Please fill in all the required fields.</legend>
                        {% if form.errors %}
                            <div class="alert alert-dismissable alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="add-event-form-name" class="col-md-3 control-label">Event Name</label>
                            <div class="col-md-9">
                                <input id="add-event-form-name" name="name" class="form-control" type="text" placeholder="Required">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="add-event-form-description" class="col-md-3 control-label">Description</label>
                            <div class="col-md-9" style="padding-bottom: 20px;">
                                <textarea id="add-event-form-description" name="description" class="form-control" type="text" placeholder="Optional"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <fieldset>
                                <legend>To find the location of your event, please click <button id="find-location-button" class="btn btn-danger" type="button">here</button></legend>

                                {% if debug %}<div class="alert alert-dismissable alert-info">Debug is on, so latitude and longitude are displayed (To disable debug, go to settings.py)</div>{% endif %}
                                <input id="add-event-form-lat" name="latitude" {% if not debug %}class="hidden"{% endif %} type="text">
                                <input id="add-event-form-long" name="longitude" {% if not debug %}class="hidden"{% endif %} type="text">

                                <div class="form-group">
                                    <label for="add-event-form-address" class="col-md-3 control-label">Address</label>
                                    <div class="col-md-9">
                                        <input id="add-event-form-address" class="form-control" name="address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="add-event-form-country" class="col-md-3 control-label">Country</label>
                                    <div class="col-md-9">
                                        <input id="add-event-form-country" name="country" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="add-event-form-city" class="col-md-3 control-label">City</label>
                                    <div class="col-md-9">
                                        <input id="add-event-form-city" name="city" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="add-event-form-zip" class="col-md-3 control-label">Zip Code</label>
                                    <div class="col-md-9">
                                        <input id="add-event-form-zip" name="zip" class="form-control" type="text">
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="form-group">
                            <label for="add-event-form-website" class="col-md-3 control-label">Website</label>
                            <div class="col-md-9" style="padding-bottom: 20px;">
                                <input id="add-event-form-website" name="website" class="form-control" type="text" placeholder="Optional">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="add-event-form-start" class="col-md-3 control-label">Start Date</label>
                            <div id="start-datetime" class="col-md-9" style="padding-bottom: 20px;">
                                <span class="add-on col-md-2">
                                    <a href="#" style="color: white"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></a>
                                </span>
                                <span class="col-md-8">
                                    <input id="add-event-form-start" name="start" class="form-control" type="text" placeholder="Required">
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="add-event-form-end" class="col-md-3 control-label">End Date</label>
                            <div id="end-datetime" class="col-md-9" style="padding-bottom: 20px;">
                                <span class="add-on col-md-2">
                                    <a href="#" style="color: white"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></a>
                                </span>
                                <span class="col-md-8">
                                    <input id="add-event-form-end" name="end" class="form-control" type="text" placeholder="Optional">
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="add-event-tags" class="col-md-3 control-label">Tags</label>
                            <div class="col-md-9" style="padding-bottom: 20px;">
                                <input id="add-event-tags" name="tags" class="form-control hidden" type="text" placeholder="5 Required">
                                <ul id="add-event-tag-bar" style="border-radius: 5px; padding: 5px 10px 5px 10px; background-color: #d3d3d3" data-name="nameOfSelect"></ul>
                            </div>
                        </div>

                    </fieldset>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button id="add-event-submit-btn" type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
