
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<title>HackaGlobal - we facilitate passionate developers localy.</title>



<meta name="description" content="HackaGlobal - we facilitate passionate developers localy." />
<meta name="keywords" content="360 degree,celestial,omnidirectional,sphere,spheral,globe,circle,empyrean,inovative,innovation,fish eye,panoramic,panorama,whole world,advanced" />



<meta property="og:url" content="index.html" />
<meta property="og:image" content="/static/home/img/og2.jpg" />
<meta property="og:title" content="Landing Page Title" />
<meta property="og:description" content="Landing Page content, type here" />




<link href="/static/home/css/reset.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/home/css/index.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/home/css/jquery.sidr.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/home/css/colorbox.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />



<!-- Source / Script /JS -->


<script type="text/javascript" src="/static/home/js/lib/jquery-1.10.2.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript" src="/static/home/js/lib/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="/static/home/js/lib/jquery.sidr.js"></script>
<script type="text/javascript" src="/static/home/js/lib/jquery.cycle2.min.js"></script>
<script type="text/javascript" src="/static/home/js/common.js"></script>
<script type="text/javascript" src="/static/home/js/concept.js"></script>
<script type="text/javascript" src="/static/home/js/lib/markerwithlabel.js"></script>
<script type="text/javascript"> 
(function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"==document.location.protocol?"https://":"http://")+"";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)})(); 
</script>

</head>




<body id="hg-body">

  <div class="header">

      <div id="vi">
          <a href="/"><img alt="" class="style" src="/static/home/img/vi.png"></a>
      </div>
      <div class="globe-bracket" style="display:none;">
          <img src="/static/home/img/globe-bracket.png" alt="" />
      </div>
  
      <div class="main-menu">
        <ul>
          <li> <a href="login.html"> Login</a></li>
          <li> <a href="signup.html"> Signup</a></li>
        </ul>
      </div>

      <div class="mailchimp"> 
        <div id="googleMap"></div>  
      </div>

  </div><!--#header-->

  <!-- Navigation Menu -->   
  <div id="top_gnav" class="style">
    <ul>
      <li><a href="#vi" class="about"><h2>Home</h2></a></li>
      <li><a href="#main" class="info"><h2>Video</h2></a></li>
      <li><a href="#about" class="store"><h2>About</h2></a></li>
      <li><a href="#app" class="support"><h2>App</h2></a></li>
    </ul>
    <br class="clr" />
  </div>
    
  <div id="mc_embed_signup">
    <form action="http://hackaglobal.us8.list-manage.com/subscribe/post?u=c43a99e58fdcaa68e71a3728d&amp;id=9c6c401d27" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <label for="mce-EMAIL">Subscribe to HackaGlobal to know more about the awesomeness that awaits you!</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required />
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_c43a99e58fdcaa68e71a3728d_9c6c401d27" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>      
    </form>
  </div>
    
<!------------------------Video------------------------> 




<div id="main">
  <div id="movie">
	  <h1>&nbsp;</h1>
	  <div>
	    <a href="http://www.youtube.com/embed/z0J_AQXZcG4?rel=0&amp;fs=0&amp;autoplay=1" class="video1"><img src="/static/home/img/movie_01.jpg" class="style" /></a>
	    <iframe class="sp" width="200" height="120" src="http://www.youtube.com/embed/z0J_AQXZcG4?theme=light&amp;showinfo=0" frameborder="0" allowfullscreen style="width: 100%; margin: 0px 0px;"></iframe>
	    <p>About HackaGlobal</p>
	   </div>
	   <br class="clr" />
   </div>
    
  <div class="btn_area style">
    <a href="signup.html" class="btn_g pagedown"><h2>> Sign up</h2></a>
  </div>
    
<!----------------- About Page ---------------> 

  <div id="about">
    <h1>&nbsp;</h1>
    <h1>&nbsp;</h1>
    <h1>Create amazing events and build your own hacker community in seconds:</h1>
    	
    <div class="aboutbox01">
      <div class="aboutimg"><img src="/static/home/img/circle1.png" class="flyout01" /></div>
      <div class="abouttext">
        <h2>Connect with developers by registrating your HackaCity!</h2>
        <p>Connect and network with developers who love the same thing you love. Coding and having the time of their lives while learning with other passionate programmers!</p>
      </div>
     </div>
     <br class="clr" />
            
     <div class="aboutbox02">
        <div class="aboutimg"><img src="/static/home/img/circle4.png" class="flyout02" /></div>
        <div class="abouttext">
          <h2>Travel around the world .</h2>
           <p>Take part to our HackaTrips, going around the world visiting HackaCities and taking part in the anual HackaGlobal events! </p>
        </div>
      </div>
      <br class="clr" />
            
      <div class="aboutbox03">
			   <div class="aboutimg"><img src="/static/home/img/circle3.png" width="215" height="247" class="flyout03" /></div>
         <div class="abouttext">
           <h2>Compete in mad Hackathons</h2>
            <p>Participate to the most awsome hackathons around the world meeting programmers who ar as interested in codeing and learning new thing just as you are.</p>
            <p class="note">* In the Android<span class="tm">TM</span> app, images can be shared on Facebook/Twitter.</p>
         </div>
    	</div>
      <br class="clr" />
  </div>
  <!------------ App Page ------------>
  <!----------------- Download Itunes, Google Play ------------->     

  <div id="app">
        <div class="appbox_wrap">
        
        
        <h1>&nbsp;</h1>
        
       
        
          <h1>Download our Official App:</h1>
            
        	<div class="appbox">
                <ul class="apps">
                    <li class="left">
                        <div>
                            <h2>HackaGlobal for Windows Phone</h2>
                            <p class="appbtn"><a href="#googlelink" class="btn_as"><img src="/static/home/img/appstore.png"/></a></p>
                        </div>
                    </li>
                    <li class="right">
                        <div>
                            <h2>HackaGlobal for  Android</h2>
                            <p class="appbtn"><a href="#googlelink" class="btn_gp"><img src="/static/home/img/side_banner_googleplay.png" /></a></p>
                        </div>
                    </li>
                </ul>
                <p class="official_apptext">Comming soon to mobile. Bringing the ultimate Hackathon finder to you in the near future on dedicated app !</p>
            </div>
        </div>
        
        <div class="appbox_wrap last">
            <h1>&nbsp;</h1>
            
        	<div class="appbox"></div>
        </div>
    </div>

</div>        
        
        

<div class="hg-overlay hg-off" id="hg-overlay">
  <div class="hg-overlay-container" id="hg-overlay-container">
    <img src="/static/home/img/vi.png" width="1000"/>
    <div class="hg-list-wrapper hg-loader" id="hg-list-wrapper"></div>
  </div>
</div>        

<script type="text/javascript" src="/static/home/js/script.js"></script>

</body>
</html>

