{% extends "base.html" %}

{% block head-includes %}

    <link href="/static/home/css/reset.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/home/css/index.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/events_container.css" rel="stylesheet" type="text/css">


    <script type="text/javascript" src="/static/home/js/lib/jquery.cycle2.min.js"></script>
    <script type="text/javascript" src="/static/home/js/lib/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/static/home/js/lib/markerwithlabel.js"></script>
{% endblock %}

{% block content %}

<body>
<div style="margin-top: -50px;" id="googleMap"></div>

<div class="wrapper">
    <img id="logo-image" src="/static/home/images/hg_logo_bnw.png">
{#    <div id="logo-image" style="font-size: 100px" class="hacka-h1 flashing-text">Hacka { Global }</div>#}

    <img id="about-image" style="width: 100%" src="/static/home/images/slide1.png">


    <div id="now-section">
{#        <img id="now-image" src="/static/home/images/hg_now.png">#}
        <img id="skyline-image" src="/static/home/images/hg_skyline_bnw.png">
        <div class="hacka-h1 home-date-now-title">Date . Now ()</div>
        <ul class="home-date-now-hackacities-container hacka-font">
            {% for hackacity in hackacities %}
                <a href="{% url 'view_hackacity' hackacity.name %}">
                    <li>
                        <span class="col-md-4">
                            {{ hackacity.city.country }}
                        </span>
                        <span class="col-md-4">
                            {{ hackacity.city }}
                        </span>
                        <span class="col-md-4">
                            {{ hackacity.name }}
                        </span>
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>
</div>

<div style="margin: 0 auto; position:relative;">
    <div class="hacka-h1 flashing-text">
        Hacka { Events }
    </div>
</div>


<div style="width: 100%;">
    <div class="hackacity-view-events-list">
        <ul class="list-inline hackacity-view-events-list-inline col-xs-12">
            {% for event in upcoming_events %}
                {% include 'layouts/hackacity_event.html' %}
            {% endfor %}
        </ul>
    </div>
</div>

<div id="footer">
    <img id="grass-image" src="/static/home/images/hg_grass.png">

    <div class="footer-content">
        <div id="partners" class="hacka-h1">
            Global { Partners }
        </div>
        <br>
        <div class="col-md-4 col-md-offset-4">
            <img src="/static/images/sponsors/aws.jpg">
        </div>

        <img style="width: 100%; margin-top: 50px" src="/static/images/skyline.png">
        <div class="hacka-h1" style="padding: 50px 0px 50px">
            HackaGlobal@Gmail.com
        </div>

    </div>
</div>

<script type="text/javascript" src="/static/home/js/home.js"></script>
{% endblock %}