{% extends "base.html" %}

{% block head-includes %}
    <link rel="stylesheet" type="text/css" href="/static/css/manage.css">
{#    <script type="text/javascript" src="/static/js/manage.js"></script>#}
{% endblock %}

{% block content %}
    <div id="manage-events" class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <h1 class="page-header">Manage events...</h1>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Created</h3>
                        </div>
                        <div class="panel-body">
                            {% if created %}
                                {% for event in created %}
                                    {% include "layouts/event.html" with event=event created=True %}
                                {% endfor %}
                            {% else %}
                                <div class="well">
                                    <p>You still have not created any events</p>
                                    <p>Why don't you start by <a href="/create">creating one?</a></p>
                                </div>
                            {% endif %}
                        </div>
                    </div>      
                </div>
                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Attending</h3>
                        </div>
                        <div class="panel-body">
                            {% if attending %}
                                {% for event in attending %}
                                    {% include "layouts/event.html" with event=event created=False %}
                                {% endfor %}
                            {% else %}
                                <div class="well">
                                    <p>You're still not attending any events</p>
                                    <p>Why don't you start by <a href="/find">finding one?</a></p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}