{% extends "base.html" %}

{% block head-includes %}
    <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="http://api.mygeoposition.com/api/geopicker/api.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/add_event.js"></script>
    <script type="text/javascript" src="/static/js/external/tagit-themeroller.js"></script>
    <script type="text/javascript" src="/static/js/external/jquery.themeswitcher.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/external/tagit.css">
    <link rel="stylesheet" type="text/css" href="/static/css/add_event.css">
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
{#    <link rel="stylesheet" type="text/css" href="/static/css/external/Bootstrap.css">#}
{% endblock %}

{% block content %}
{#    <div class="add-event-nav-bar-container">#}
{#        <div class="col-xs-12 col-md-offset-1 col-md-10 add-event-nav-bar">#}
{#            <a href="#event-hackacity">1. HackaCity</a>#}
{#            <a href="#event-description">2. Description</a>#}
{#            <a href="#event-location">3. Location</a>#}
{#            <a href="#event-date-time">4. Date</a>#}
{#            <a href="#event-other">5. Other</a>#}
{#        </div>#}
{#    </div>#}
<div class="form-background">
    <div class="form-container col-md-8 col-md-offset-2">
        <form id="add-event-form" class="form-horizontal"  enctype="multipart/form-data" method="POST">
            {% csrf_token %}

            {% if form.errors %}
                <div class="form-group alert alert-dismissable alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}

            <div id="event-hackacity" class="form-group">
                <label for="add-event-form-hackacity" class="form-title control-label">1. Create event in:</label>
                <div class="col-md-12">
                    <input id="add-event-form-hackacity" name="hackacity" class="form-control hidden" type="text" placeholder="Required">
                    <select id="add-event-form-hackacity-select" class="form-control">
                        {% for hackacity in hackacities %}
                            <option data-value="{{ hackacity.pk }}">{{ hackacity.city.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div id="event-description" class="form-group">
                <label for="add-event-form-hackacity" class="form-title control-label">2. Description</label>
                <div class="col-md-12">
                    <input id="add-event-form-name" name="name" class="form-control" type="text" placeholder="Title of Event">
                </div>

                <div class="internal-form-group-separator"></div>
                <label for="add-event-form-external" class="col-md-3 control-label">External Event</label>
                <div class="col-md-2">
                    <input id="add-event-form-external" name="external" class="form-control" type="checkbox" placeholder="Required">
                </div>
                <div class="col-md-7">
                    <i class="glyphicon glyphicon-question-sign" style="margin-top: 10px;">
                        <div class="add-event-form-external-description">
                            Check this box if you'd like us to point users directly to your event website,
                            instead of creating a HackaEvent page.
                        </div>
                    </i>
                </div>

                <div class="internal-form-group-separator"></div>
                <div class="col-md-12" style="padding-bottom: 20px;">
                    <input id="add-event-form-website" name="website" class="form-control" type="text" placeholder="Link or Website">
                </div>

                <div class="internal-form-group-separator"></div>
                <label for="add-event-form-photo" class="col-md-3 control-label">Image</label>
                <div class="col-md-9">
                    <input id="add-event-form-photo" name="photo" class="form-control" type="file" placeholder="Required">
                </div>

                <div class="internal-form-group-separator"></div>
                <div class="col-md-12" style="padding-bottom: 20px;">
                    <textarea id="add-event-form-description" rows="5" name="description" class="form-control" type="text" placeholder="Type the description of the event"></textarea>
                </div>
            </div>

            <div id="event-location" class="form-group">
                <label for="add-event-form-hackacity" class="form-title control-label">3. Location</label>

                {% if debug %}<div class="alert alert-dismissable alert-info">Debug is on, so latitude and longitude are displayed (To disable debug, go to settings.py)</div>{% endif %}
                <input id="add-event-form-lat" name="latitude" {% if not debug %}class="hidden"{% endif %} type="text">
                <input id="add-event-form-long" name="longitude" {% if not debug %}class="hidden"{% endif %} type="text">

                <div class="col-md-12">
                    <div class="col-xs-3">
                        <input id="add-event-form-zip" name="zip" class="form-control" type="text" placeholder="Zip Code">
                    </div>
                    <div class="col-xs-9">
                        <input id="add-event-form-address" class="form-control" name="address" type="text" placeholder="Address of Event">
                    </div>
                </div>

    {#                        <div class="internal-form-group-separator"></div>#}
            </div>

            <div id="event-date-time" class="form-group">
                <label for="add-event-form-hackacity" class="form-title control-label">4. Date and Time</label>


                <div id="start-datetime" class="col-md-12" style="padding-bottom: 20px; position: relative">
                    <span class="add-on col-md-2">
                        <a href="#" style="color: white"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></a>
                    </span>
                    <span class="col-md-8">
                        <input id="add-event-form-start" name="start" class="form-control" type="text" placeholder="Start date and time">
                    </span>
                </div>


                <div id="end-datetime" class="col-md-12" style="padding-bottom: 20px;">
                    <span class="add-on col-md-2">
                        <a href="#" style="color: white"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></a>
                    </span>
                    <span class="col-md-8">
                        <input id="add-event-form-end" name="end" class="form-control" type="text" placeholder="End date and time">
                    </span>
                </div>
            </div>

            <div id="event-other" class="form-group">
                <label for="add-event-form-hackacity" class="form-title control-label">5. HackaEvent Tags</label>

                <div class="internal-form-group-separator"></div>
                <div class="col-md-12" style="padding-bottom: 20px;">
                    <input id="add-event-tags" name="tags" class="form-control hidden" type="text" placeholder="5 Required">
                    <ul id="add-event-tag-bar" style="border-radius: 5px; padding: 5px 10px 5px 10px; background-color: #d3d3d3" data-name="nameOfSelect"></ul>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10">
                    <br>
                    <button id="add-event-submit-btn" type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
